.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

@media (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  padding: 15px;
  border: 1px solid #eee;
}

.form__button {
  color: white;
  background-color: teal;
  border: none;
  padding: 15px;
  transition: 0.5s linear;
}

.form__button:hover {
  cursor: pointer;
  background-color: hsl(180, 100%, 30%);
  transform: scale(1.03);
}

.form__button:active {
  background-color: hsl(180, 100%, 35%);
}
